{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "constants": "src/constants",
                    "store": "src/Store",
                    "src": "src",
                    "helpers": "src/helpers"
                },
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        ],
        "@babel/plugin-transform-runtime",
        [
            "styled-components",
            {
                "ssr": true,
                "preprocess": false
            }
        ]
    ]
}